# LaTeX intermediate and output files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
# *.pdf
*.bbl
*.blg
*.brf
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.eps
*.synctex
*.run.xml
*.bcf
*.acn
*.glo
*.gls
*.ist
*.xdy
*.ilg
*.ind
*.idx
*.loa
*.thm
*.fmt
*.fot
*.cb
*.lb
*.maf
*.mtc*
*.slg
*.slo
*.sbl
*.spl
*.sta
*.stc
*.stp
*.svg
*.tex.backup
# Editor swap/backup files
*~
*.swp
*.bak
*.tmp
# VS Code settings
.vscode/

test/*.pdf

.idea/
out/
auxil/
